@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap');

:root {
    /* Colors */
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    /* fonts */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    /* Costume */
    --radius: 15px;
    --shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: var(--font-weight-normal);
    background-color: var(--cream);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
    width: 400px;
    height: auto;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--soft-red);
    border-radius: var(--radius);
    padding: 1.5rem;
    color: var(--very-pale-orange);
    box-shadow: var(--shadow);
}

nav > h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 8px;
}

nav > p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 24px;
    letter-spacing: 1px;
}

nav > img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: end;
    align-self: center;
    width: 65px;
}

section {
    background-color: var(--very-pale-orange);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    color: var(--dark-brown);
}

.total {
    border-top: 1px solid var(--medium-brown);
    padding-top: 1.8rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.total > h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 14px;
    font-weight: lighter;
    color: var(--medium-brown);
}

.total > p:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 38px;
}

.total > p:nth-child(3) {
    justify-self: end;
    font-size: 14px;
    align-self: end;
    margin-bottom: -12px;
}

.total > p:nth-child(4) {
    justify-self: end;
    align-self: center;
    font-size: 12;
    color: var(--medium-brown);
}

.graph {
    width: 100%;
    height: 220px;
    padding: 2.5rem 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 12px;
}

.col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 5px;
    text-align: center;
}

.col > div {
    width: 100%;
    height: 1%;
    align-self: end;
    background-color: var(--soft-red);
    border-radius: 5px;
    transition: all 1s;
}

.col > p {
    color: var(--medium-brown);
    font-size: 12px;
}

.bar {
    position: relative;
}

.col:has(:hover) > div > p {
    display: block;
}

.value {
    position: absolute;
    display: none;
    top: -30px;
    left: -15%;
    width: 130%;
    font-size: 12px;
    padding: 4px;
    background-color: var(--dark-brown);
    border-radius: 3px;
    color: white;
}

#max {
    background-color: var(--cyan);
}

@media (max-width: 600px) {
    main {
        width: 90%;
    }
}
